/************HEADER**********/

#header {
    background-color: #121612;
    text-align: center;
}

header img {
    width: 100px;
    height: 100px;

}

/**********NAVBAR****************/

ul{
    position: absolute;
    position: fixed;
    right: 5px;
    list-style: none;
    display: flex;
    flex-direction: column;
    z-index: 1;

}
ul img {
    padding-bottom: 10px;
}

/*****************SECTION 1************/
#section1 {
    color: white;
    background-image: url(../images/image\ fond\ 1.jpg);
    background-size: cover;
    height: 100vh;

}
.button{
    width: 100px;
    align-items: center;
     
  
}

.centered{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 40px;
  

}


.centered h2{
    width: 100%;
    text-align: left;
    color: #DBF3DB;
    font-size: 40px;


}
.centered p{
    width: 100%;
    text-align: left;
    font-size: 24px;
   
}
.centered button{
    background-color: #165216;
    border-radius: 15px;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 24px;
    
}

#first-frame{
    width: 100%;
}


/*************SECTION 2******************/

#section2{
    position: relative;

}

#fond-article{
    background-image: url(../images/fond\ carbone.jfif);
    background-size: cover;
    background-position: 0% 20%;
    color: white;
    display: flex;
    text-align: center;



}
#fond-article div{
    margin: auto;
    width: 400px;
    background-color: rgba(0,0,0,.3);
}
#fond-article h2{
    color: #DBF3DB;
    font-size: 40px;
    margin-bottom: 70px;
}

#fond-article p{
    text-align: center;
    width: 100%;
    font-size: 24px;
    
}

#img-fond{
    position: absolute;
    top: -45px;
    right: 48%;
    width: 100px;
    height: 100px;
}
.zoom{
    width: 100%;
    height: 100%;
}
.zoom2{
    width: 100%;
    height: 100%;
}

/*****************3ème Section************/

#section3 {
    height: 950px;
    color: #DBF3DB;
    position: relative;
    background: linear-gradient(180deg, #040B04 0%, #0E3A0D 9.71%, #0E6C0C 20.83%, #0E6C0C 35.94%, #0E6B0C 47.92%, #0E750C 60.42%, #0E600C 72.92%, #0A2D0A 88.07%, #010401 100%);
}

.s3-h2 {
    position: absolute;
    top: 5px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    top: 10px;
    right: 160px;
}

.zoom-TR {
    color: white;
    position: absolute;
    top: 100px;
    right: 69px;

}

.zoom-TL {
    color: white;
    position: absolute;
    top: 100px;
    left: 69px;

}

.zoom-BR {
    color: white;
    position: absolute;
    bottom: 200px;
    right: 69px;

}

.zoom-BL {
    color: white;
    position: absolute;
    bottom: 200px;
    left: 69px;

}

.pad {
    height: 950px;
}

.zoom-TLt {
    font-size: 24px;
    color: white;
    position: absolute;
    top: 60px;
    left: 100px;
}

.zoom-TRt {
    font-size: 24px;
    color: white;
    position: absolute;
    top: 60px;
    right: 100px;
}

.zoom-BRt {
    font-size: 24px;
    color: white;
    position: absolute;
    bottom: 370px;
    right: 90px;
}

.zoom-BLt {
    font-size: 24px;
    color: white;
    position: absolute;
    bottom: 370px;
    left: 145px;
}

#section3 button {
    background-color: #165216;
    border-radius: 15px;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 290px;
}

/*****************4ème Section************/

#section4 h2 {
    color: #DBF3DB;

}

#section4 img {
    width: 100%;

}

#section4 p {
    width: 300px;
}

#section4 {
    position: relative;
}

.s4-h2 {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.s4-p {
    color: white;
    position: absolute;
    top: 310px;
    left: 70%;
    text-align: right;
    font-size: 24px;
}










/**********************footer**************************/

footer {
    background-color: #121612;
    text-decoration: rgba(16, 124, 16, 1);
    height: 110px;
}

footer p {
    color: rgba(16, 124, 16, 1);
}

footer img {
    width: 100px;
    height: 100px;

}

/************RESPONSIVE**********/
@media (max-width: 987px){

    #section1{
        background-image: none;
        background-color: black;
        
    }
    
    #section2{
        display: flex;
        flex-direction: column;
      
    }
    
    #img-fond{
        display: none;
    }
    }